body
{
    background-color: #82faaa;

}

h1
{
background-color: black;
color: yellow; 
margin-top: 2px;
font-family: 'Dancing Script', cursive;
}

#show_sketch
{
    float: right;
}

canvas
{
border: 5px solid white;
border-radius: 20px;
animation-name:example;
animation-duration: 4s;
margin-top: 50px;
animation-iteration-count: infinite;
}

@keyframes example
{
from{box-shadow: 1px 1px 38px purple;}
to{box-shadow: 1px 1px 38px blue;}
}

p
{
font-size: 30px;
margin-top: 10px;
font-family: 'Ceviche One', cursive;

}